* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }

/* 1. Navigation tab */
.profile {
    height: 170px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 40px;
}

.navigation {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 23rem;
    border-right: 5px solid #d8dee6;
    padding-top: 10px;
    padding-left: 40px;
}

.content-section {
    margin-left: 26rem;
}
   
/* 2. Text styles */

/* 2.1 main styles*/
h1 {
    font-family: "Oxygen", "Sans-Serif";
    font-size: 46px;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-family: "Oxygen", "Sans-Serif";
    font-size: 36px;
    font-weight: 300;
    line-height: 1.2;
    font-style: italic;
    margin-top: 35px;
    margin-bottom: 20px;
    border-bottom: solid 0.5px #EB865E;
    width: 200px;
}

h3 {
    font-family: "Oxygen", "Sans-Serif";
    font-size: 25px;
    font-weight: 300;
    line-height: 1.2;
    font-style: italic;
}

li {
    font-family: "Noto-serif", "Serif";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
}

/* 2.2 colors styles*/

.color-label{
    font-size: 20px;
    font-family: "Noto-serif", "Serif";
    font-weight: 300;
    margin-bottom: 6px;
}

.color-hexa {
    font-size: 16px;
    font-family: "Noto-serif", "Serif";
    font-weight: 300;
}

/* 2.3 Fonts*/

.font-title .font-normal {
    font-family: "Oxygen", "Sans-Serif";
    font-size: 46px;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 600px;
    display: inline-block;
}

.font-title .font-name {
    display: inline-block;
    margin-left: 100px;
    line-height: 1.3;
    vertical-align: top; 
    margin-top: 20px;
}

.font-text .font-normal {
    font-family: "Noto-serif", "Serif";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    width: 600px;
}

.font-text .font-name {
    display: inline-block;
    margin-left: 100px;
    vertical-align: top; 
    margin-top: 20px;
}

.font-quotation .font-normal {
    font-family: "Noto-serif", "Serif";
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 80px;
    display: inline-block;
    width: 600px;
}

.font-quotation .font-name {
    display: inline-block;
    margin-left: 100px;
    vertical-align: top; 
    margin-top: 20px;
}

/*2.4 text styles*/
span {
    font-weight: 700;
}

.h1-style .main-header {
    font-family: "Oxygen", "Sans-Serif";
    font-size: 46px;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 600px;
    display: inline-block;
    height: 60px;
}

.h1-style .font-details {
    display: inline-block;
    margin-left: 70px;
    line-height: 1.3;
    vertical-align: top; 
    margin-top: 20px;
}

.h2-style .subtitle {
    font-family: "Oxygen", "Sans-Serif";
    font-size: 36px;
    font-weight: 300;
    line-height: 1.2;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 600px;
    display: inline-block;
}

.h2-style .font-details{
    display: inline-block;
    margin-left: 70px;
    line-height: 1.3;
    vertical-align: top; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.p-style .text {
    font-family: "Noto-serif", "Serif";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 600px;
    display: inline-block;
}

.p-style .font-details{
    display: inline-block;
    margin-left: 70px;
    line-height: 1.3;
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: top; 
}

.quotation-style .text {
    font-family: "Noto-serif", "Serif";
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 600px;
    display: inline-block;
}

.quotation-style .font-details{
    display: inline-block;
    margin-left: 70px;
    line-height: 1.3;
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: top; 
}

/* 3. Components*/
.main-color-c {
    background-color: #5C6BEB;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: white;
    width: 300px;
    margin-bottom: 30px;
}

.support-color-a {
    background-color: #2E399E;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: white;
    width: 300px;
    margin-bottom: 30px;
    margin-right: 40px;
    display: inline-block;
}

.support-color-b {
    background-color: #EB865E;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: white;
    width: 300px;
    margin-bottom: 30px;
    display: inline-block;
}

.support-color-d {
    background-color: #81EB44;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: white;
    width: 300px;
    margin-bottom: 45px;
    margin-right: 40px;
    display: inline-block;
}

.support-color-e {
    background-color: #5C9E36;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: white;
    width: 300px;
    margin-bottom: 45px;
    margin-right: 40px;
    display: inline-block;
}

button {
    display: inline-block;
    background:#5C6BEB;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 90px;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    box-shadow: 1px #2E399E;
}

button:hover,
button:focus {
    background: #2E399E;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

button a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Oxygen", "Sans-Serif";
    font-size: 1rem;
    line-height: 1;
}